@charset "UTF-8";

/*  
 #42208C
 #322073
 #202359
 #0D2840
 #50D4F2
*/

:root {
    --cor01: #42208C;
    --cor02: #322073;
    --cor03: #202359;
    --cor04: #b495e0;
    --cor06: #69b0c0;

}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    background-color: var(--cor01);

}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;  

    padding: 10px;
    width: 250px;
    height: 515px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000092;

    transition: width .3s, heigth .3s;
    transition-timing-function: ease;
}

div#imagem {
    background: url(/imagens/arte.jpg) center center no-repeat;
    background-size: cover;
    margin: -10px;
    width: 110%;
    height: 200px;

}

section div#formulario h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
 

form div.campo {
    display: block;
    background-color: var(--cor02);
    width: 100%;
    height: 40px;    
    margin-top: 5px;
    border-radius: 5px;
    font-size: 0.9em;
    border: 2px solid var(--cor02);
}

form div.campo input {
    background-color: var(--cor04);
    border-radius: 5px;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 6px;
    padding: 4px;
    transform: translateY(-10px);
    transform: tr;
}

form div.campo span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    width: 100%;
    background-color: var(--cor04);
    color: var(--cor03);
    height: 40px;
    margin-top: 5px;
    text-align: center;
    border: 2px solid var(--cor04);
    font-weight: bolder;
    cursor: pointer;
}

form > input[type=submit]:hover {

    background-color: var(--cor03);
    color: var(--cor04);
}

 a.botao {
    display: block;
    width: 100%;
    padding-top: 5px;
    margin-top: 5px;
    height: 40px;
    background-color: white;
    color: var(--cor03);
    border-radius: 5px;
    border: 2px solid var(--cor04);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

a.botao:hover {
    background-color: var(--cor03);
    color: var(--cor04);
}
